body{
    background-image: url(back.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px){
    body{
        background-image: url(back.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%; 
  
}
}