
.topnav{
    width: 100%;
    background-color: black;
    margin-top: 0;
    overflow: hidden;
    vertical-align: middle;
    position: fixed;
    top: 0;
    z-index: 1;
    }
.topnav a{
    text-align: center;
    color: yellow;
    font-size: 20px;
    font-weight: bolder;
    padding: 14px 16px;
    margin: 5px;
    top: 0;
    float: left;
    text-decoration: none;
    
}
.topnav a:hover{
    background-color: floralwhite;
    color: dodgerblue;
    
}
@media only screen and (max-width: 600px){
    
    .topnav{
        position: fixed;
        width: 100%;
        overflow: hidden;
    }   
    
    .topnav a{
         display: flex;
        font-size: 17px;
        padding: 15px 8px 8px 8px;
        margin: auto auto auto auto;
    }
    
    .card{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

    #python{
    width: 400px;
    height: 400px;
}
#js{
    height: 400px;
}
#html{
    height: 400px;
}
#css{
    height: 400px;
}
#node{
    height: 400px;
}
#php{
    height: 400px;
    
}
    
    